<div class="dispositivo">

    <div class="engranajes izquierda">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="engranajes derecha">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="pantalla">

        <div class="lineas-escaneo"></div>
        <div class="viñeta"></div>

        <div class="encabezado-comic">
            <span class="codigo-comic">TRANSMISIÓN // TS-01</span>

            <h1>ARCHIVO RECUPERADO</h1>

            <p>EL COMIENZO DE LA AVENTURA</p>
        </div>

        <div class="contenedor-comic">
            <div class="marco-superior">
                <span>CODEASCENT</span>
                <span>ARCHIVO 001</span>
            </div>

            <img src="assets/images/comics/comic-10.jpeg" alt="Cómic de inicio del nivel 1 de CodeAscent" />

            <div class="marco-inferior">
                <span>TRANSMISIÓN ENCONTRADA</span>
                <span>STATUS: ONLINE</span>
            </div>
        </div>

        <a routerLink="/mapa" class="boton-panel">
            <span>▶</span>
            CONTINUAR
        </a>

        <div class="nota-inferior">
            CODEASCENT // SISTEMA NARRATIVO // NIVEL 01
        </div>

    </div>
</div>