<div class="contenedor-manual-sql">
  <aside class="menu-lateral">
    <h3>📜 PERGAMINOS TÉCNICOS</h3>
    <ul>
      @for (lec of lecciones; track lec.id; let i = $index) {
        <li 
          [class.activo]="indiceLeccionSeleccionada() === i"
          (click)="seleccionarLeccion(i)">
          <span class="codigo-badge">{{ lec.codigoIdentificador }}</span>
          <span>{{ lec.titulo }}</span>
        </li>
      }
    </ul>
  </aside>

  <article class="hoja-pergamino">
    <header class="encabezado-hoja">
      <span class="badge-hoja">{{ lecciones[indiceLeccionSeleccionada()].codigoIdentificador }}</span>
      <h2>{{ lecciones[indiceLeccionSeleccionada()].titulo }}</h2>
      <p class="subtitulo">{{ lecciones[indiceLeccionSeleccionada()].subtitulo }}</p>
    </header>

    <div class="contenido-hoja">
      <p class="texto-conceptual">{{ lecciones[indiceLeccionSeleccionada()].explicacionConceptual }}</p>

      <div class="bloque-codigo">
        <div class="encabezado-codigo">ESQUEMA DE CONSULTA SQL</div>
        <pre><code>{{ lecciones[indiceLeccionSeleccionada()].ejemploConsulta }}</code></pre>
      </div>

      <h4>PUNTOS CLAVE DE APRENDIZAJE:</h4>
      <ul>
        @for (punto of lecciones[indiceLeccionSeleccionada()].puntosClave; track punto) {
          <li>⚡ {{ punto }}</li>
        }
      </ul>
    </div>
  </article>
</div>